.c-g-location-map {
  width: 100%;
  height: 95%;
  position: relative;
}

.c-g-location-map-input-wrap {
  width: 100%;
  height: 30px;
  position: relative;
}

.c-g-location-map-input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgb(238, 238, 238);
  &.c-g-location-map-input-focus {
    border: 1px solid #2c9feb;
  }
}

.c-g-location-map-icon {
  font-size: 14px;
  color: #999;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.c-g-location-map-gmap {
  width: 100%;
  height: calc(100% - 30px);
}

.c-g-location-map-result {
  width: 100%;
  max-height: 40%;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  z-index: 940;
  background: #fff;
  overflow-y: auto;
  line-height: 14px;
}

.c-g-location-map-result-item {
  padding: 10px;

  &:hover {
    cursor: pointer;
    background: #f5f5f5;
  }
}

.c-g-location-map-mask {
  position: absolute;
  height: ~'calc(100% - 30px)';
  width: 100%;
  left: 0;
  top: 30px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .c-g-location-map-mask-tip {
    font-size: 1.4em;
    color: #2c9feb;
  }
}
.c-g-location-map-confirm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  .c-g-location-map-desc {
    margin-right: 10px;
  }
  .c-g-location-map-button {
    height: 30px;
    color: white;
    background-color: #56a3f2;
    padding: 0 10px;
    border: none;
    &:hover {
      background-color: #2789ee;
    }
  }
  .c-g-location-map-button-disabled {
    background-color: #b2d5ff;
  }
}
