name: doc

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      # 拉取仓库代码
      - name: Checkout repo
        uses: actions/checkout@v4

      # 设置 Node 环境（必需：用于 npm publish + token）
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org/'
          always-auth: true

      # 设置 git 用户信息
      - name: Setup Git user
        run: |
          git config --global user.email "gmfe4code@163.com"
          git config --global user.name "gmfe4code"

      # 克隆 gm-common
      - name: Clone gm-common
        run: |
          git clone https://github.com/gmfe/gm-common.git

      # 安装依赖与构建
      - name: Install and Build
        run: |
          cd gm-common
          yarn install --ignore-engines
          npx lerna bootstrap
          npm run build

      # 清理文件
      - name: Cleanup
        run: |
          cd gm-common
          rm -rf .github .storybook packages
          git add --all
          git commit -m 'build docs' || echo "No changes to commit"

      # 推送文档到 gm-common-doc
      - name: Push to gm-common-doc
        run: |
          cd gm-common
          git push "https://gmfe4code:${{ secrets.PASSWORD }}@github.com/gmfe/gm-common-doc.git" HEAD:main -f
