name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          registry-url: 'https://registry.npmjs.org'

      # - name: ChangeLog
      #   run: npx changelogithub
      #   env:
      #     GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  
      - name: Install
        run: |
          yarn install 
          npx lerna bootstrap 
  
      - name: Release
        run: |
          if [[ ${{ github.ref }} == *refs/tags/*-beta* ]]; then
            npx lerna publish --tag beta
          elif [[ ${{ github.ref }} == *refs/tags/*-alpha* ]]; then
            npx lerna publish --tag alpha
          else
            npx lerna publish
          fi
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}